thesis-plan2017.pdf
main_notes_by_date.pdf
.ipynb_checkpoints/
__pycache__/
*.bak
thesis-avmaslov.pdf
main.pdf
.DS_Store*
*.aux*
*.bst
.dropbox
*.log*
*.lof*
*.*~
*.swp
*.lot*
*.out*
*.gz*
*.toc*
*.blg*
*~*
*.nlo*
*make*
*.png
*.d*
*.bcf*
*.blg*
*~*
*.nlo*
*make
*.d
*.btmp*
*.fls*
*.glo*
*.idx*
*.ist*
*.ilg*
*.ind*
*cookie*
*#*
*.nls*
*.nlg*
thesis.txt*
thesis.bcf*
thesis.run.xml*
*run.xml*
*.latexmkrc*
*_latexmk*
*.eps
*.ini
*.sty
*.*~
*.loar
*.lof
*.gz

